
@model MaverikStudio.Models.product
@{
    Layout = "~/Views/Shared/backend.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="~/assets/plugins/buu-upload-image/main.css">
    <style>
        .label-for-form label {
            font-weight: 500 !important;
        }
    </style>
}
<form action="@Url.Action("HandleUpdate", "Product", new {id = Model.id})" method="POST" class="form-group label-for-form" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="">Tên sản phẩm</label>
                        <input type="text" name="name" value="@(TempData["name"] != null ? TempData["name"] : Model.name)" placeholder="Tên..." class="form-control" />
                        @if (TempData["err_product_name"] != null)
                        {
                            <span class="text-danger">
                                @TempData["err_product_name"]
                            </span>
                        }
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="">Giá bán</label>
                        <input type="text" name="price" value="@(TempData["price"] != null ? TempData["price"] : Model.price)" placeholder="Giá bán..." class="form-control" />
                        @if (TempData["err_product_price"] != null)
                        {
                            <span class="text-danger">
                                @TempData["err_product_price"]
                            </span>
                        }
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="">Giá gốc</label>
                        <input type="text" name="price_origin" value="@(TempData["price_origin"] != null ? TempData["price_origin"] : Model.price_origin)" placeholder="Giá gốc..." class="form-control" />
                        @if (TempData["err_product_price_origin"] != null)
                        {
                            <span class="text-danger">
                                @TempData["err_product_price_origin"]
                            </span>
                        }
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="">Giảm giá</label>
                        <input type="text" name="sale" value="@(TempData["sale"] != null ? TempData["sale"] : Model.sale)" placeholder="Giảm giá..." class="form-control" />
                        @if (TempData["err_product_sale"] != null)
                        {
                            <span class="text-danger">
                                @TempData["err_product_sale"]
                            </span>
                        }
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="">Thương hiệu</label>
                        <select name="brand_id" class="form-control">
                            <option value="0">Chọn thương hiệu</option>
                            @{
                                int? result = null;
                                if (TempData["brand_id"] != null)
                                {
                                    if (int.TryParse((string)TempData["brand_id"], out int data))
                                    {
                                        result = data;
                                    }
                                }

                                if (result == null)
                                {
                                    result = Model.brand_id;
                                }
                            }
                            @foreach (var item in (new MaverikStudio.Models.WebMaverikStudioEntities1()).brands.ToList())
                            {
                                <option value="@item.id" @(result != null && result == item.id ? "selected" : "")>@item.name</option>
                            }
                        </select>
                        @if (TempData["err_product_brand_id"] != null)
                        {
                            <span class="text-danger">
                                @TempData["err_product_brand_id"]
                            </span>
                        }
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="">Chuyên mục</label>
                        <select name="category_id" class="form-control">
                            <option value="0">Chọn chuyên mục</option>
                            @{
                                int? result1 = null;
                                if (TempData["category_id"] != null)
                                {
                                    if (int.TryParse((string)TempData["category_id"], out int data))
                                    {
                                        result1 = data;
                                    }
                                }

                                if (result1 == null)
                                {
                                    result1 = Model.category_id;
                                }
                            }
                            @foreach (var item in (new MaverikStudio.Models.WebMaverikStudioEntities1()).categories.ToList())
                            {
                                <option value="@item.id" @(result1 != null && result1 == item.id ? "selected" : "")>@item.name</option>
                            }
                        </select>
                        @if (TempData["err_product_category_id"] != null)
                        {
                            <span class="text-danger">
                                @TempData["err_product_category_id"]
                            </span>
                        }
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label for="">Chọn ảnh sản phẩm</label>
                        <div class="upload-image__wrapper" @(TempData["err_product_filepath"] != null ? @"style=""border: 3px dashed #dc3545;""" : "")>
                            <div class="row" style="margin-left: -5px; margin-right: -5px;">
                                @if (TempData != null && TempData.ContainsKey("filepath") && TempData["filepath"] is IEnumerable<string> myArray)
                                {
                                    foreach (var item in myArray)
                                    {
                                        <div class="upload-image__parent col-6 col-md-3 col-lg-2 pl-1 pr-1 mb-2">
                                            <div class="upload-image__item-wrapper">
                                                <div class="upload-image__item" style="background-image: url('@item');">
                                                    <input class="form-control upload-image__holder" type="text" name="filepath[]" value="@item" style="display: none;">
                                                </div>
                                                <div class="upload-image__destroy"></div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    foreach (var item in Model.product_images.ToList())
                                    {
                                        <div class="upload-image__parent col-6 col-md-3 col-lg-2 pl-1 pr-1 mb-2">
                                            <div class="upload-image__item-wrapper">
                                                <div class="upload-image__item" style="background-image: url('@item.image');">
                                                    <input class="form-control upload-image__holder" type="text" name="filepath[]" value="@item.image" style="display: none;">
                                                </div>
                                                <div class="upload-image__destroy"></div>
                                            </div>
                                        </div>
                                    }
                                }
                                <div class="upload-image__parent col-6 col-md-3 col-lg-2 pl-1 pr-1 mb-2">
                                    <div class="upload-image__item-wrapper">
                                        <div class="upload-image__item"></div>
                                        <div class="upload-image__create"><i class="fa-thin fa-cloud-arrow-up"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (TempData["err_product_filepath"] != null)
                        {
                            <div class="invalid-feedback" style="display: block;">
                                @TempData["err_product_filepath"]
                            </div>
                        }
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label for="">Mô tả</label>
                        <textarea name="description" id="ckeditor1" class="ckeditor">@(TempData["description"] != null ? TempData["description"] : Model.description)</textarea>
                        @if (TempData["err_product_description"] != null)
                        {
                            <span class="text-danger">
                                @TempData["err_product_description"]
                            </span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" value="Sửa" class="btn btn-primary mr-2">
    <a href="@Url.Action("Index", "Product")" class="btn btn-danger">Hủy</a>
</form>

@section js{
    <script src="~/assets/plugins/moment-js/moment.js"></script>
    <script src="~/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="~/assets/plugins/sweet-alert/sweet-alert.js"></script>
    <script src="~/assets/plugins/ckfinder/ckfinder.js"></script>
    <script src="~/assets/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/assets/plugins/buu-upload-image/main.js"></script>

    <script>
        $('#id_4').datetimepicker({
            "allowInputToggle": true,
            "showClose": true,
            "showClear": true,
            "showTodayButton": true,
            "format": "YYYY/MM/DD",
            icons: {
                time: "fa-light fa-timer",
                date: "fa-solid fa-calendar-days",
                up: "fa-regular fa-chevron-up",
                down: "fa-regular fa-chevron-down",
                previous: "fa-regular fa-chevron-left",
                next: "fa-regular fa-chevron-right",
                today: "fa-light fa-crosshairs-simple",
                clear: "fa-light fa-trash-can",
            },
        });

        $(function () {
            buuUploadImage(true, 1, 'col-6 col-md-3 col-lg-2');
        })
    </script>

    @if (TempData["msg"] != null)
    {
        <script>
        Swal.fire(
            "@TempData["msg"]",
            "",
            "success"
        );
        </script>
    }
}



