<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.title</title>
    <link rel="stylesheet" href="~/assets/frontend/fonts/stylesheet.css">
    <link rel="stylesheet" href="~/assets/icon/fontawesome-pro-642/css/icon.css">
    <link rel="stylesheet" href="~/assets/frontend/css/normalize.css">
    <link rel="stylesheet" href="~/assets/frontend/css/base.css">
    <link rel="stylesheet" href="~/assets/frontend/css/buustrap.css">

    <link rel="stylesheet" href="~/assets/frontend/css/header.css">
    <link rel="stylesheet" href="~/assets/frontend/css/container.css">
    <link rel="stylesheet" href="~/assets/frontend/css/slider.css">
    <link rel="stylesheet" href="~/assets/frontend/css/footer.css">

    @RenderSection("css", false)
</head>
<body id="idBody">
    <div class="main-body">
        @Html.Partial("~/Views/Shared/parts/frontend/header.cshtml")

        @RenderBody()

        @Html.Partial("~/Views/Shared/parts/frontend/slider.cshtml")

        @Html.Partial("~/Views/Shared/parts/frontend/footer.cshtml")
    </div>

    <script src="~/assets/frontend/js/jquery.3.3.7.min.js"></script>
    <script src="~/assets/frontend/js/header.js"></script>
    <script src="~/assets/frontend/js/slider.js"></script>
    <script src="~/assets/frontend/js/showcart.js"></script>

    @RenderSection("js", false)
<script>

        $(function () {
            const boxBigSearchResult = $('.header__middle-search-box-result:not([id="resultMobileSearch"])');
            $("#bigSearch").keyup(function () {
                let searchValue = $(this).val();
                $.ajax({
                    url: '@Url.Action("Search", "FrontEnd")',
                    method: 'GET',
                    data: { search : searchValue },
                    success: function (response) {
                        let resultSearch = response.map(function (item, index) {
                            if (index == response.length - 1) {
                                return "";
                            }
                            return `
                                <div class="item-result">
                                    <div class="thumbs">
                                        <a href="/FrontEnd/Product/${item.id}" title="${item.name}" style="background-image: url('${item.image}');"></a>
                                    </div>
                                    <div class="title">
                                        <a title="${item.name}" href="/FrontEnd/Product/${item.id}">${item.name}</a>
                                        <p class="f-initial">${item.price}</p>
                                    </div>
                                </div>
                            `
                        }).join(" ");

                        boxBigSearchResult.html(resultSearch);

                        if (response[response.length - 1].total > 5) {
                            let seeMore = $(`<div class= "resultsMore" ><a href="/FrontEnd/ResultAll?search=${searchValue}">Xem thêm ${response[response.length - 1].total} sản phẩm</a></div>`);
                            boxBigSearchResult.append(seeMore);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Lỗi khi gửi yêu cầu AJAX:', status, error);
                    }
                });
            });

            const boxMobileSearchResult = $('.header__middle-search-box-result:not([id="resultBigSearch"])');
            $("#mobileSearch").keyup(function () {
                let searchValue = $(this).val();
                $.ajax({
                    url: '@Url.Action("Search", "FrontEnd")',
                    method: 'GET',
                    data: { search : searchValue },
                    success: function (response) {
                        let resultSearch = response.map(function (item, index) {
                            if (index == response.length - 1) {
                                return "";
                            }
                            return `
                                <div class="item-result">
                                    <div class="thumbs">
                                        <a href="/FrontEnd/Product/${item.id}" title="${item.name}" style="background-image: url('${item.image}');"></a>
                                    </div>
                                    <div class="title">
                                        <a title="${item.name}" href="/FrontEnd/Product/${item.id}">${item.name}</a>
                                        <p class="f-initial">${item.price}</p>
                                    </div>
                                </div>
                            `
                        }).join(" ");

                        boxMobileSearchResult.html(resultSearch);

                        if (response[response.length - 1].total > 5) {
                            let seeMore = $(`<div class= "resultsMore" ><a href="/FrontEnd/ResultAll?search=${searchValue}">Xem thêm ${response[response.length - 1].total} sản phẩm</a></div>`);
                            boxMobileSearchResult.append(seeMore);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Lỗi khi gửi yêu cầu AJAX:', status, error);
                    }
                });
            });
        })
</script>
</body>
</html>