
@model MaverikStudio.Models.size
@{
    Layout = "~/Views/Shared/backend.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <style>
        .label-for-form label {
            font-weight: 500 !important;
        }
    </style>
}
<form action="@Url.Action("HandleUpdate", "Size", new {id = Model.id})" method="POST" class="form-group label-for-form" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="">Tên size</label>
                        <input type="text" name="size1" value="@(TempData["size1"] != null ? TempData["size1"] : Model.size1)" placeholder="Size..." class="form-control" />
                        @if (TempData["err_size_size1"] != null)
                        {
                            <span class="text-danger">
                                @TempData["err_size_size1"]
                            </span>
                        }
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="">Chiều cao</label>
                        <input type="text" name="height" value="@(TempData["height"] != null ? TempData["height"] : Model.height)" placeholder="Chiều cao..." class="form-control" />
                        @if (TempData["err_size_height"] != null)
                        {
                            <span class="text-danger">
                                @TempData["err_size_height"]
                            </span>
                        }
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="">Cân nặng</label>
                        <input type="text" name="weight" value="@(TempData["weight"] != null ? TempData["weight"] : Model.weight)" placeholder="Size..." class="form-control" />
                        @if (TempData["err_size_weight"] != null)
                        {
                            <span class="text-danger">
                                @TempData["err_size_weight"]
                            </span>
                        }
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="">Chiều rộng</label>
                        <input type="text" name="width" value="@(TempData["width"] != null ? TempData["width"] : Model.width)" placeholder="Chiều rộng..." class="form-control" />
                        @if (TempData["err_size_width"] != null)
                        {
                            <span class="text-danger">
                                @TempData["err_size_width"]
                            </span>
                        }
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="">Chiều dài</label>
                        <input type="text" name="lenght" value="@(TempData["lenght"] != null ? TempData["lenght"] : Model.size1)" placeholder="Chiều dài..." class="form-control" />
                        @if (TempData["err_size_lenght"] != null)
                        {
                            <span class="text-danger">
                                @TempData["err_size_lenght"]
                            </span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" value="Sửa" class="btn btn-primary mr-2">
    <a href="@Url.Action("Index", "Size")" class="btn btn-danger">Hủy</a>
</form>

@section js{
    <script src="~/assets/plugins/sweet-alert/sweet-alert.js"></script>

    @if (TempData["msg"] != null)
    {
        <script>
        Swal.fire(
            "@TempData["msg"]",
            "",
            "success"
        );
        </script>
    }
}



