
@{
    Layout = "~/Views/Shared/frontend.cshtml";
}

<div class="container grid wide">
    <div class="row">
        <div class="client_login__wrapper col l-6 m-12 c-12">
            <div class="client_login__header-page">
                <h1>Đăng nhập</h1>
            </div>
        </div>

        <div class="client_login__wrapper col l-6 m-12 c-12">
            <form action="@Url.Action("ClientLogin", "Auth")" method="post">
                @Html.AntiForgeryToken()
                <div class="client_login__field">
                    <input class="@(TempData["client_login_err"] != null ? "client__field_err" : "")" type="text" name="email" value="@(TempData["email"] != null ? TempData["email"] : "")" placeholder="Email" />
                    @if (TempData["client_login_err"] != null)
                    {
                        <span class="client__field_err_msg">@TempData["client_login_err"]</span>
                    }
                </div>

                <div class="client_login__field">
                    <input type="password" name="password" value="" placeholder="Mật khẩu" />
                </div>

                <div class="client_login__submit">
                    <button type="submit" class="button-dark">ĐĂNG NHẬP</button>
                    <a href="@Url.Action("ClientRegister", "Auth")" class="button-dark" style="margin-left: 12px; text-decoration: none;">ĐĂNG KÝ</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section css{
    <style>
        .container {
            padding: 0 15px;
        }

        .client__field_err {
            border: 1px solid red !important;
        }

        .client__field_err_msg {
            color: red;
            font-size: 14px;
            margin-top: 5px;
            display: block;
        }

        .client_login__wrapper {
            border-top: 1px solid #ededed;
        }

            .client_login__wrapper:first-of-type {
                display: flex;
                align-items: center;
            }

            .client_login__wrapper:first-child {
                border-right: 1px solid #ededed;
            }

        .client_login__header-page {
            margin-top: 30px;
            position: relative;
        }

            .client_login__header-page h1 {
                font-size: 40px;
                font-weight: 700;
                margin: 0px 0;
            }

            .client_login__header-page::after {
                content: "";
                background: #000;
                display: block;
                width: 60px;
                height: 4px;
                margin-top: 30px;
                border-radius: 10px
            }

        .client_login__field {
            margin-bottom: 30px;
        }

            .client_login__field:first-of-type {
                margin-top: 45px;
            }

            .client_login__field input {
                width: 100%;
                height: 55px;
                border: 1px solid transparent;
                background: #ededed;
                color: #272727;
                padding: 0 20px;
                font-weight: 500;
                font-size: 14px;
            }

        .client_login__submit {
            display: flex;
        }

            .client_login__submit button,
            .client_login__submit a {
                padding: 14px 28px;
                font-weight: 700;
            }

        @@media(max-width: 1024px) {
            .client_login__wrapper:first-of-type {
                justify-content: center;
            }

            .client_login__header-page::after {
                margin: 30px auto 0;
            }

            .client_login__wrapper:first-child {
                border-right: unset;
            }

            .client_login__wrapper:last-child {
                border-top: unset;
            }

            .client_login__submit {
                justify-content: center;
            }
        }
    </style>
}

@section js{
    <script src="~/assets/frontend/js/container-sidebar.js"></script>
    <script src="~/assets/frontend/js/addcart.js"></script>
    <script>
        HandleSlider('#slider1');
    </script>
}

