@model List<MaverikStudio.Models.product>
@{
    Layout = "~/Views/Shared/frontend.cshtml";
}


<div class="container">
    <div class="container__wrapper grid wide">
        <h2 class="slider-title" style="font-weight: 700;">
            Tìm kiếm
        </h2>
        <p style="font-weight: 700; font-size: 14px;">Kết quả tìm kiếm cho "@(ViewBag.search != null ? ViewBag.search : "")"</p>
        <div class="row">
            <div class="container__content col l-12 m-12 c-12">
                <div class="row">
                    @foreach (var product in Model)
                    {
                        <div class="container__content-product col l-3 m-3 c-6">
                            <div class="container__content-product-wrapper">
                                <div class="container__content-product-img">
                                    @if (product.sale > 0)
                                    {
                                        <div class="container__content-product-sale">
                                            <span>@(product.sale + "%")</span>
                                        </div>
                                    }
                                    <a href="@Url.Action("Product", "FrontEnd", new { id = product.id})" class="container__content-product-thumb" style="background-image: url(@product.product_images.OrderByDescending(m => m.created_at).Skip(0).Take(1).FirstOrDefault().image);"></a>
                                    <a href="@Url.Action("Product", "FrontEnd", new { id = product.id})" class="container__content-product-thumb" style="background-image: url(@product.product_images.OrderByDescending(m => m.created_at).Skip(1).Take(1).FirstOrDefault().image);"></a>
                                </div>
                                <div class="container__content-product-info">
                                    <div class="container__content-product-info-wrapper">
                                        <h3>
                                            <a href="@Url.Action("Product", "FrontEnd", new { id = product.id})" title="@product.name">@product.name</a>
                                        </h3>
                                        @if (product.sale > 0)
                                        {
                                            <p class="has-sale">@(string.Format("{0:#,##0}", (product.price - (product.price * product.sale / 100))) + "đ")<span><del>@(string.Format("{0:#,##0}", product.price) + "đ")</del></span></p>
                                        }
                                        else
                                        {
                                            <p class="">@(string.Format("{0:#,##0}", product.price) + "đ")</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- Phân trang ở đây -->
                <form action="@Url.Action("ResultAll", "FrontEnd")" method="get" id="list_product">
                    <div class="row" style="width: 100%; justify-content: center;">
                        <div class="col l-12" style="display: flex; justify-content: center">
                            <input type="submit" style="padding: 10px 15px; font-weight: 700; background-color: transparent; border: unset; font-size: 18px; cursor: pointer;" data-page="1" value="<<" @((int)TempData["product_page"] <= 1 ? "disabled" : "") />

                            <input type="submit" style="padding: 10px 15px; font-weight: 700; background-color: transparent; border: unset; font-size: 18px; cursor: pointer;" data-page="@((int)TempData["product_page"] - 1)" value="<" @((int)TempData["product_page"] <= 1 ? "disabled" : "") />

                            <button type="button" style="padding: 10px 15px; font-weight: 700; background-color: transparent; border: unset; font-size: 16px">@TempData["product_page"]/@TempData["product_total_page"]</button>
                            <input type="submit" style="padding: 10px 15px; font-weight: 700; background-color: transparent; border: unset; font-size: 18px; cursor: pointer;" data-page="@((int)TempData["product_page"] + 1)" value=">" @((int)TempData["product_page"] >= (int)TempData["product_total_page"] ? "disabled" : "") />

                            <input type="submit" style="padding: 10px 15px; font-weight: 700; background-color: transparent; border: unset; font-size: 18px; cursor: pointer;" data-page="@((int)TempData["product_total_page"])" value=">>" @((int)TempData["product_page"] >= (int)TempData["product_total_page"] ? "disabled" : "") />
                            <input id="data_page" type="text" name="page" value="" style="display: none;" />
                            <input type="text" name="search" value="@ViewBag.search" style="display: none;" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section css{
    <link rel="stylesheet" href="~/assets/frontend/css/homepage.css">
}

@section js{
    <script src="~/assets/frontend/js/container-sidebar.js"></script>
    <script src="~/assets/frontend/js/addcart.js"></script>
    <script>
        HandleSlider('#slider1');

        $(function () {
            const formListProduct = $("#list-product");
            const dataPage = $('#data_page');
            const controlPage = $('input[data-page]:not(:disabled)');
            controlPage.click(function () {
                dataPage.val($(this).data("page"));
                formListProduct.submit();
            });
        })
    </script>
}

